.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.spinner {
  display: inline-block;
  position: relative;
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 48px;
  height: 48px;
}

.large {
  width: 64px;
  height: 64px;
}

.circle {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 3px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4a90e2 transparent transparent transparent;
}

.small .circle {
  width: 32px;
  height: 32px;
  border-width: 2px;
}

.medium .circle {
  width: 48px;
  height: 48px;
  border-width: 3px;
}

.large .circle {
  width: 64px;
  height: 64px;
  border-width: 4px;
}

.circle:nth-child(1) {
  animation-delay: -0.45s;
}

.circle:nth-child(2) {
  animation-delay: -0.3s;
}

.circle:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  font-size: 16px;
  color: #555;
  margin: 0;
  text-align: center;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
